<mat-card>
    <mat-card-header>
        <mat-card-title>{{ "definir_escalas.titulo_principal" | translate }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <mat-tab-group [(selectedIndex)]="activeTab" (selectedTabChange)="tabChanged($event)">
            <!-- Pestaña de Lista -->
            <mat-tab label="{{ 'GLOBAL.LISTA' | translate }}">
                <mat-card>
                    <mat-card-content>
                        <!-- Buscador -->
                        <mat-form-field class="form-field">
                            <mat-icon matPrefix>search</mat-icon>
                            <mat-label>{{ "GLOBAL.BUSCAR" | translate }}</mat-label>
                            <input matInput type="text" (keyup)="applyFilterEscalas($event)"
                                placeholder="{{ 'GLOBAL.buscar' | translate }}" />
                        </mat-form-field>

                        <!-- Alerta informativa -->
                        <div class="alert info" style="margin-bottom: 16px;">
                            <mat-icon class="icon">info</mat-icon>
                            <span [innerHTML]="'definir_escalas.alerta_formulario5' | translate"></span>
                        </div>

                        <!-- Botón para añadir nueva escala -->
                        <mat-toolbar>
                            <button mat-icon-button color="accent" (click)="activarModoCreacion()">
                                <mat-icon>add</mat-icon> <!-- Ícono de más para añadir escala -->
                            </button>
                        </mat-toolbar>


                        <!-- Tabla de escalas existentes -->
                        <table mat-table [dataSource]="dataSource" matSort class="full-width-table">
                            <!-- Columna de Pregunta -->
                            <ng-container matColumnDef="Pregunta">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ "definir_escalas.pregunta" | translate }}
                                </th>
                                <td mat-cell *matCellDef="let escala">{{ escala.Nombre }}</td>
                            </ng-container>

                            <!-- Columna de Tipo de Escala -->
                            <!-- Columna de Tipo de Escala -->
                            <ng-container matColumnDef="TipoEscala">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ "definir_escalas.tipo_escala" | translate }}
                                </th>
                                <td mat-cell *matCellDef="let escala">{{ getTipoEscalaNombre(escala.TipoCampoId) }}</td>
                            </ng-container>

                            <!-- Columna de Estado -->
                            <ng-container matColumnDef="Estado">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ "GLOBAL.estado" | translate }}
                                </th>
                                <td mat-cell *matCellDef="let escala">
                                    <div class="status-active">Activo</div>
                                </td>
                            </ng-container>

                            <!-- Columna de Acciones -->
                            <ng-container matColumnDef="Acciones">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ "GLOBAL.ACCIONES" | translate }}
                                </th>
                                <td mat-cell *matCellDef="let escala">
                                    <button mat-icon-button [matMenuTriggerFor]="menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click)="vistaGeneral(escala)">
                                            <mat-icon>visibility</mat-icon>
                                            {{ "definir_escalas.ver_general" | translate }}
                                        </button>
                                        <button mat-menu-item (click)="mostrarConfirmacion(escala)">
                                            <mat-icon>{{ escala.activo ? 'toggle_off' : 'toggle_on' }}</mat-icon>
                                            {{ escala.activo ? 'Activar Escala' : 'Inactivar Escala' }}
                                        </button>
                                    </mat-menu>
                                </td>
                            </ng-container>

                            <!-- Filas -->
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

                            <!-- Mensaje si no hay datos -->
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="5">{{ "definir_escalas.sin_escalas" | translate }}</td>
                            </tr>
                        </table>

                        <!-- Paginador -->
                        <mat-paginator [pageSize]="10" showFirstLastButtons></mat-paginator>
                    </mat-card-content>
                </mat-card>
            </mat-tab>

            <!-- Pestaña de Formulario -->
            <mat-tab label="{{ 'GLOBAL.FORMULARIO' | translate }}">
                <mat-card>
                    <mat-card-content>
                        <!-- Formulario para crear nueva escala -->
                        <div *ngIf="isCreating">
                            <h3>{{ "definir_escalas.formulario_creacion" | translate }}</h3>

                            <!-- Mensaje de alerta dinámico -->
                            <div class="row mt-4">
                                <div class="col-12">
                                    <div *ngIf="formularioEscala.controls['tipoCampo'].value === 'Radio'"
                                        class="alert info">
                                        <mat-icon class="icon">info</mat-icon>
                                        <span>{{ 'definir_escalas.alerta_formulario1' | translate }}</span>
                                    </div>
                                    <div *ngIf="formularioEscala.controls['tipoCampo'].value === 'Textarea'"
                                        class="alert info">
                                        <mat-icon class="icon">info</mat-icon>
                                        <span>{{ 'definir_escalas.alerta_formulario2' | translate }}</span>
                                    </div>
                                    <div *ngIf="formularioEscala.controls['tipoCampo'].value === 'ArchivoAnexo'"
                                        class="alert info">
                                        <mat-icon class="icon">info</mat-icon>
                                        <span>{{ 'definir_escalas.alerta_formulario3' | translate }}</span>
                                    </div>
                                    <div *ngIf="formularioEscala.controls['tipoCampo'].value === 'LinkNuxeo'"
                                        class="alert info">
                                        <mat-icon class="icon">info</mat-icon>
                                        <span>{{ 'definir_escalas.alerta_formulario4' | translate }}</span>
                                    </div>
                                </div>
                            </div>

                            <form [formGroup]="formularioEscala">

                                <!-- Tipo de escala seleccionable -->
                                <mat-form-field class="full-width">
                                    <mat-label>{{ "definir_escalas.seleccionar_tipo_escala" | translate }}</mat-label>
                                    <mat-select formControlName="tipoCampo"
                                        (selectionChange)="onTipoCampoChange($event)">
                                        <mat-option *ngFor="let tipo of tiposInput" [value]="tipo.Nombre">
                                            <!-- Íconos basados en el tipo de campo -->
                                            <mat-icon *ngIf="tipo.Nombre === 'Textarea'">edit_note</mat-icon>
                                            <mat-icon *ngIf="tipo.Nombre === 'LinkNuxeo'">download</mat-icon>
                                            <mat-icon *ngIf="tipo.Nombre === 'ArchivoAnexo'">upload</mat-icon>
                                            <mat-icon *ngIf="tipo.Nombre === 'Radio'">checklist</mat-icon>

                                            <!-- Traducir el nombre del tipo de campo -->
                                            {{ 'definir_escalas.tipo_' + tipo.Nombre | translate }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>


                                <!-- Pregunta del formulario -->
                                <mat-form-field class="full-width">
                                    <mat-label>{{ "Escriba su pregunta" | translate }}</mat-label>
                                    <input matInput formControlName="label" autocomplete="off"
                                        [value]="exampleQuestion" />
                                </mat-form-field>

                                <!-- Opciones cuando es selección múltiple (Radio) -->
                                <div *ngIf="showMultipleOptions" formArrayName="opciones">
                                    <div *ngFor="let opcionGroup of opciones.controls; let i = index"
                                        [formGroupName]="i" class="option-row">

                                        <!-- Casilla de opción -->
                                        <mat-form-field class="custom-input full-width">
                                            <mat-label>{{ 'Opción ' + (i + 1) }}</mat-label>
                                            <input matInput formControlName="opcion"
                                                placeholder="{{ getPlaceholderForOption(i) }}" autocomplete="off" />
                                        </mat-form-field>

                                        <!-- Casilla de valor -->
                                        <mat-form-field class="custom-input number-input">
                                            <mat-label>Valor</mat-label>
                                            <input matInput type="number" min="1" max="100"
                                                formControlName="valorControl" autocomplete="off" />
                                        </mat-form-field>

                                    </div>

                                    <div>
                                        <button mat-mini-fab color="primary" (click)="agregarOpcion()">
                                            <mat-icon>add</mat-icon>
                                        </button>
                                        <button mat-mini-fab color="warn" (click)="quitarOpcion()">
                                            <mat-icon>remove</mat-icon>
                                        </button>
                                    </div>
                                </div>

                                <!-- Botones de acción -->
                                <button mat-flat-button color="primary" (click)="agregarEscala()">
                                    <mat-icon>save</mat-icon>
                                    {{ "GLOBAL.GUARDAR" | translate }}
                                </button>
                                <button mat-flat-button color="warn" (click)="cancelarCreacion()">
                                    <mat-icon>close</mat-icon>
                                    {{ "GLOBAL.cancelar" | translate }}
                                </button>
                            </form>
                        </div>
                    </mat-card-content>
                </mat-card>
                <!-- Botón de Pre-visualización -->
                <button mat-flat-button color="primary" (click)="previsualizarEscala()">
                    <mat-icon>visibility</mat-icon>
                    Pre-visualizar
                </button>

                <!-- Espacio para la vista previa de la escala -->
                <div *ngIf="previsualizacionActiva" class="escala-previsualizacion">
                    <h3>Ejemplo de escala</h3>

                    <div *ngIf="tipoEscala === 'Textarea'" class="vista-previa-textarea">
                        <!-- Previsualización para tipo Textarea -->
                        <mat-card class="ejemplo-escala">
                            <mat-card-header>
                                <mat-card-title>
                                    1. {{ ejemploPregunta || 'Texto de la pregunta' }}
                                </mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <textarea matInput placeholder="Escribe tu respuesta aqui" rows="5"></textarea>
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <div *ngIf="tipoEscala === 'Radio'" class="vista-previa-radio">
                        <!-- Previsualización para tipo Radio -->
                        <mat-card class="ejemplo-escala">
                            <mat-card-header>
                                <mat-card-title>
                                    1. {{ ejemploPregunta || 'Texto de la pregunta' }}
                                </mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <mat-radio-group>
                                    <mat-radio-button *ngFor="let opcion of opciones.controls" [value]="opcion.value">
                                        {{ opcion.value.opcion }}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <div *ngIf="tipoEscala === 'ArchivoAnexo'" class="vista-previa-archivo">
                        <!-- Previsualización para tipo ArchivoAnexo -->
                        <mat-card class="ejemplo-escala">
                            <mat-card-header>
                                <mat-card-title>
                                    1. {{ ejemploPregunta || 'Texto de la pregunta' }}
                                </mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <button mat-raised-button color="primary">
                                    <mat-icon>upload</mat-icon> Cargar
                                </button>
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <div *ngIf="tipoEscala === 'LinkNuxeo'" class="vista-previa-descargar">
                        <!-- Previsualización para tipo LinkNuxeo (Descargar archivo) -->
                        <mat-card class="ejemplo-escala">
                            <mat-card-header>
                                <mat-card-title>
                                    1. {{ ejemploPregunta || 'Texto de la pregunta' }}
                                </mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <button mat-raised-button color="primary">
                                    <mat-icon>download</mat-icon> Descargar
                                </button>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>

            </mat-tab>

            <!-- Pestaña de Vista de Escala -->
            <mat-tab label="{{ 'definir_escalas.vista_escala' | translate }}" *ngIf="isViewingScale">
                <mat-card class="escala-detalle-card">
                    <mat-card-header>
                        <mat-card-title>{{ "definir_escalas.vista_escala" | translate }}</mat-card-title>
                    </mat-card-header>

                    <mat-card-content>
                        <div class="detalle-escala">

                            <!-- Nombre de la pregunta -->
                            <div class="detalle-item">
                                <mat-icon color="primary">question_answer</mat-icon>
                                <p><strong>{{ "Pregunta:" | translate }}</strong></p>
                                <p>{{ escalaSeleccionada.Nombre }}</p>
                            </div>

                            <!-- Tipo de Escala -->
                            <div class="detalle-item">
                                <mat-icon color="primary">category</mat-icon>
                                <p><strong>{{ "Tipo de Escala:" | translate }}</strong></p>
                                <p>{{ getTipoEscalaNombre(escalaSeleccionada.TipoCampoId) }}</p>
                            </div>

                            <!-- Estado Activo/Inactivo -->
                            <div class="detalle-item">
                                <mat-icon
                                    [ngClass]="escalaSeleccionada.activo ? 'inactive-icon' : 'active-icon' ">toggle_on</mat-icon>
                                <p><strong>{{ "Estado:" | translate }}</strong></p>
                                <p>{{ escalaSeleccionada.activo ? 'Inactivo' : 'Activo' }}</p>
                            </div>

                            <!-- Fecha de creación -->
                            <div class="detalle-item">
                                <mat-icon color="primary">calendar_today</mat-icon>
                                <p><strong>{{ "Fecha de Creación:" | translate }}</strong></p>
                                <p>{{ escalaSeleccionada.FechaCreacion | date: 'fullDate' }}</p>
                            </div>
                        </div>

                        <!-- Vista previa de la escala según el tipo de campo -->
                        <div *ngIf="escalaSeleccionada" class="previsualizacion-general">
                            <h3>{{ "Ejemplo de escala" | translate }}</h3>

                            <!-- Previsualización para tipo Textarea -->
                            <div *ngIf="escalaSeleccionada.TipoCampoId === tipoCamposMap['Textarea']"
                                class="vista-previa-textarea">
                                <mat-card class="ejemplo-escala">
                                    <mat-card-header>
                                        <mat-card-title>
                                            1. {{ escalaSeleccionada.Nombre || 'Texto de la pregunta' }}
                                        </mat-card-title>
                                    </mat-card-header>
                                    <mat-card-content>
                                        <textarea matInput placeholder="Escribe tu respuesta aquí" rows="5"></textarea>
                                    </mat-card-content>
                                </mat-card>
                            </div>

                            <!-- Previsualización para tipo Radio -->
                            <div *ngIf="escalaSeleccionada.TipoCampoId === tipoCamposMap['Radio']"
                                class="vista-previa-radio">
                                <mat-card class="ejemplo-escala">
                                    <mat-card-header>
                                        <mat-card-title>
                                            1. {{ escalaSeleccionada.Nombre || 'Texto de la pregunta' }}
                                        </mat-card-title>
                                    </mat-card-header>
                                    <mat-card-content>
                                        <mat-radio-group>
                                            <mat-radio-button *ngFor="let opcion of escalaSeleccionada.Opciones"
                                                [value]="opcion">
                                                {{ opcion.Nombre }}
                                            </mat-radio-button>
                                        </mat-radio-group>
                                    </mat-card-content>
                                </mat-card>
                            </div>

                            <!-- Previsualización para tipo ArchivoAnexo -->
                            <div *ngIf="escalaSeleccionada.TipoCampoId === tipoCamposMap['ArchivoAnexo']"
                                class="vista-previa-archivo">
                                <mat-card class="ejemplo-escala">
                                    <mat-card-header>
                                        <mat-card-title>
                                            1. {{ escalaSeleccionada.Nombre || 'Texto de la pregunta' }}
                                        </mat-card-title>
                                    </mat-card-header>
                                    <mat-card-content>
                                        <button mat-raised-button color="primary">
                                            <mat-icon>upload</mat-icon> Cargar
                                        </button>
                                    </mat-card-content>
                                </mat-card>
                            </div>

                            <!-- Previsualización para tipo LinkNuxeo (Descargar archivo) -->
                            <div *ngIf="escalaSeleccionada.TipoCampoId === tipoCamposMap['LinkNuxeo']"
                                class="vista-previa-descargar">
                                <mat-card class="ejemplo-escala">
                                    <mat-card-header>
                                        <mat-card-title>
                                            1. {{ escalaSeleccionada.Nombre || 'Texto de la pregunta' }}
                                        </mat-card-title>
                                    </mat-card-header>
                                    <mat-card-content>
                                        <button mat-raised-button color="primary">
                                            <mat-icon>download</mat-icon> Descargar
                                        </button>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </div>


                        <!-- Botón para activar/inactivar -->
                        <div class="acciones">
                            <!-- Botón de regresar -->
                            <button mat-flat-button color="primary" (click)="regresarLista()">
                                <mat-icon>arrow_back</mat-icon>
                                {{ "GLOBAL.regresar" | translate }}
                            </button>
                        </div>>
                    </mat-card-content>
                </mat-card>
            </mat-tab>

        </mat-tab-group>
    </mat-card-content>
</mat-card>