<mat-card>
    <mat-card-header>
        <mat-card-title>{{ "definir_escalas.titulo_principal" | translate }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <!-- Grupo de tabs para Listado, Formulario y Vista de Escala -->
        <mat-tab-group [(selectedIndex)]="activeTab" (selectedTabChange)="tabChanged($event)">
            <!-- Pestaña de Lista -->
            <mat-tab label="{{ 'GLOBAL.lista' | translate }}">
                <mat-card>
                    <mat-card-content>
                        <!-- Buscador -->
                        <mat-form-field class="form-field">
                            <mat-icon matPrefix>search</mat-icon>
                            <mat-label>{{ "GLOBAL.buscar" | translate }}</mat-label>
                            <input matInput type="text" (keyup)="applyFilterEscalas($event)"
                                placeholder="{{ 'GLOBAL.buscar' | translate }}" />
                        </mat-form-field>

                        <!-- Botón para añadir nueva escala -->
                        <mat-toolbar>
                            <button mat-icon-button color="accent" (click)="activarModoCreacion()">
                                <mat-icon>add</mat-icon> <!-- Ícono de más para añadir escala -->
                            </button>
                            <span>{{ "definir_escalas.aniadir_nueva_escala" | translate }}</span>
                        </mat-toolbar>

                        <!-- Tabla de escalas existentes -->
                        <table mat-table [dataSource]="dataSource" matSort class="full-width-table">
                            <!-- Columnas de la tabla -->
                            <ng-container matColumnDef="Pregunta">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "definir_escalas.pregunta" |
                                    translate }}</th>
                                <td mat-cell *matCellDef="let escala">{{ escala.label }}</td>
                            </ng-container>

                            <ng-container matColumnDef="Descripcion">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "definir_escalas.descripcion" |
                                    translate }}</th>
                                <td mat-cell *matCellDef="let escala">{{ escala.descripcion }}</td>
                            </ng-container>

                            <ng-container matColumnDef="TipoInput">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "definir_escalas.tipo_input" |
                                    translate }}</th>
                                <td mat-cell *matCellDef="let escala">{{ escala.tipoCampo }}</td>
                            </ng-container>

                            <!-- Nueva columna de Estado -->
                            <ng-container matColumnDef="Estado">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "GLOBAL.estado" | translate }}
                                </th>
                                <td mat-cell *matCellDef="let escala">
                                    <div [ngClass]="escala.activo ? 'status-active' : 'status-inactive'">{{
                                        escala.activo ? 'Activo' : 'Inactivo' }}</div>
                                </td>
                            </ng-container>

                            <!-- Columna de acciones con menú desplegable -->
                            <ng-container matColumnDef="Acciones">
                                <th mat-header-cell *matHeaderCellDef>{{ "GLOBAL.acciones" | translate }}</th>
                                <td mat-cell *matCellDef="let escala">
                                    <button mat-icon-button [matMenuTriggerFor]="menu">
                                        <mat-icon>more_vert</mat-icon> <!-- Ícono de puntitos -->
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click)="vistaGeneral(escala)">
                                            <mat-icon>visibility</mat-icon> <!-- Ícono de ver -->
                                            {{ "definir_escalas.ver_general" | translate }}
                                        </button>
                                        <button mat-menu-item (click)="inactivarEscala(escala)">
                                            <mat-icon>unpublished</mat-icon> <!-- Ícono de inactivar -->
                                            {{ "definir_escalas.inactivar" | translate }}
                                        </button>
                                    </mat-menu>
                                </td>
                            </ng-container>

                            <!-- Filas -->
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

                            <!-- Mensaje si no hay datos -->
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="5">{{ "definir_escalas.sin_escalas" | translate }}</td>
                            </tr>
                        </table>

                        <!-- Paginador -->
                        <mat-paginator [pageSize]="5" showFirstLastButtons></mat-paginator>
                    </mat-card-content>
                </mat-card>
            </mat-tab>

            <!-- Pestaña de Formulario -->
            <mat-tab label="{{ 'GLOBAL.formulario' | translate }}">
                <mat-card>
                    <mat-card-content>
                        <!-- Formulario para crear nueva escala -->
                        <div *ngIf="isCreating">
                            <h3>{{ "definir_escalas.formulario_creacion" | translate }}</h3>
                            <form [formGroup]="formularioEscala">
                                <mat-form-field class="full-width">
                                    <mat-label>{{ "Escriba su pregunta" | translate }}</mat-label>
                                    <input matInput formControlName="label" />
                                </mat-form-field>

                                <mat-form-field class="full-width">
                                    <mat-label>{{ "definir_escalas.descripcion" | translate }}</mat-label>
                                    <input matInput formControlName="descripcion" />
                                </mat-form-field>

                                <mat-form-field class="full-width">
                                    <mat-label>{{ "Seleccionar tipo de escala" | translate }}</mat-label>
                                    <mat-select formControlName="tipoCampo"
                                        (selectionChange)="onTipoCampoChange($event)">
                                        <mat-option *ngFor="let tipo of tipoCampos" [value]="tipo.label">{{ tipo.label
                                            }}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <!-- Opciones adicionales cuando el tipo de campo es 'Selección Múltiple' -->
                                <div *ngIf="showMultipleOptions" formArrayName="opciones">
                                    <div *ngFor="let opcion of opciones.controls; let i = index">
                                        <mat-form-field class="full-width">
                                            <mat-label>{{ 'Opción ' + (i + 1) }}</mat-label>
                                            <input matInput [formControlName]="i" />
                                        </mat-form-field>
                                    </div>
                                    <div>
                                        <button mat-mini-fab color="primary" (click)="agregarOpcion()">
                                            <mat-icon>add</mat-icon>
                                        </button>
                                        <button mat-mini-fab color="warn" (click)="quitarOpcion()">
                                            <mat-icon>remove</mat-icon>
                                        </button>
                                    </div>
                                </div>

                                <!-- Botones de acción -->
                                <button mat-flat-button color="primary" (click)="agregarEscala()">
                                    <mat-icon>save</mat-icon> <!-- Ícono de guardar -->
                                    {{ "GLOBAL.guardar" | translate }}
                                </button>
                                <button mat-flat-button color="warn" (click)="cancelarCreacion()">
                                    <mat-icon>close</mat-icon> <!-- Ícono de cancelar -->
                                    {{ "GLOBAL.cancelar" | translate }}
                                </button>
                            </form>
                        </div>
                    </mat-card-content>
                </mat-card>
            </mat-tab>


            <!-- Pestaña de Vista de Escala -->
            <mat-tab label="{{ 'definir_escalas.vista_escala' | translate }}" *ngIf="isViewingScale">
                <mat-card>
                    <mat-card-content>
                        <h3 class="title">{{ "definir_escalas.vista_escala" | translate }}</h3>

                        <!-- Información de la escala -->
                        <div class="vista-escala">
                            <p><strong>{{ "Pregunta: " }}</strong> {{ escalaSeleccionada.label }}</p>
                            <p><strong>{{ "Descripción: " }}</strong> {{ escalaSeleccionada.descripcion }}</p>
                            <p><strong>{{ "Tipo de Escala: " }}</strong> {{ escalaSeleccionada.tipoCampo }}</p>
                            <p><strong>{{ "Estado: " }}</strong> {{ escalaSeleccionada.activo ? 'Activo' : 'Inactivo' }}
                            </p>
                            <p><strong>{{ "Fecha de Creación: " }}</strong> {{ escalaSeleccionada.fechaCreacion }}</p>

                            <!-- Mostrar opciones si es selección múltiple -->
                            <div *ngIf="escalaSeleccionada.tipoCampo === 'Selección Múltiple'">
                                <p><strong>{{ "Opciones: " }}</strong></p>
                                <ul>
                                    <li *ngFor="let opcion of escalaSeleccionada.opciones">{{ opcion }}</li>
                                </ul>
                            </div>
                        </div>

                        <!-- Botón de regresar a la lista -->
                        <button mat-flat-button color="primary" (click)="regresarLista()">
                            <mat-icon>arrow_back</mat-icon> <!-- Ícono de regresar -->
                            {{ "GLOBAL.regresar" | translate }}
                        </button>
                    </mat-card-content>
                </mat-card>
            </mat-tab>

        </mat-tab-group>
    </mat-card-content>
</mat-card>