@import 'src/assets/styles/palette-angular-material.css';

.container {
  margin: 20px;
}

.form-container {
  margin-top: 20px;
  border: 1px solid var(--md-primary-700);
  border-radius: 10px;
  padding: 20px;
  background-color: #ffffff;
}

.evaluation-form {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: var(--md-primary-700);
  margin-top: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--md-primary-200);
  padding-bottom: 10px;
}

.form-group {
  margin-bottom: 25px;
  text-align: left;

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--md-primary-700);
    opacity: 0.85;  // Aumenta ligeramente la visibilidad del label
  }

  input, select, textarea {
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid var(--md-primary-700);
    border-radius: 5px;
    background-color: #ffffff;
    transition: border-color 0.3s, background-color 0.3s;
    padding-right: 35px;

    &:focus {
      border-color: var(--md-primary-500);
      background-color: var(--md-primary-50);
    }

    &::placeholder {
      color: var(--md-primary-200);  // Placeholder suave y menos notable
      opacity: 0.7;  // Placeholder visible pero no dominante
    }
  }

  textarea {
    height: 100px;
  }

  input[type="date"] {
    position: relative;
    padding-left: 40px;
    background: url('data:image/svg+xml;base64,...') no-repeat 10px center;
    background-size: 20px 20px;
    background-color: #ffffff;
  }

  .form-inline {
    display: flex;
    justify-content: space-between;
    gap: 20px;  /* Espacio adicional entre elementos inline */
  }
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

button {
  background-color: var(--md-primary-500);
  color: var(--md-primary-contrast-500);
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--md-primary-700);
  }
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: #ffffff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  border: 1px solid var(--md-primary-700);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: var(--md-primary-700);
}

label {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--md-primary-700);
}

input, select, textarea {
  display: inline-block;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid var(--md-primary-700);
  border-radius: 5px;
}
