<!-- 
<select [(ngModel)]="reporteSeleccionado">
  <option value="RteEvaDocParTotal">RteEvaDocParTotal</option>
</select> 
-->

<mat-card *ngIf="hasPermisos; else noPermission">
  <mat-card-header>
    <mat-card-title>{{ "reportes_knowage.titulo_cuadro" | translate }}</mat-card-title>
  </mat-card-header><br>
  <mat-card-content>
    <div class="row mt-4">
      <div class="col-12">
        <div class="alert info">
          <mat-icon class="icon">info</mat-icon>
          <span>{{ 'reportes_knowage.alerta' | translate }}</span>
        </div>
      </div>
    </div>
    <mat-form-field style="width: 35%" appearance="outline">
      <mat-label>{{ "reportes_knowage.select_reporte" | translate }}</mat-label>
      <mat-icon class="mat-icon-outlined" color="primary" matPrefix>fact_check</mat-icon>
      <mat-select id="tipo-reporte" (selectionChange)="onSelectChange($event)" (selectionChange)="onSelectChange($event)" >
        <mat-option [value]="null">-- {{ 'GLOBAL.seleccionar' | translate }} --</mat-option>
        <mat-option *ngFor="let reporteListado of reportesListado" [value]="reporteListado.nombreLabel">{{ reporteListado.nombre }}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
</mat-card><br>

<app-reporte-knowage *ngIf="mostrarReporte" [reportLabel]="selectedReportLabel" [reportNombre]="selectedReportNombre"></app-reporte-knowage>

<!-- Lo de abajo es lo que hay del modulo de graficas -->

<!--<div class="container" *ngIf="hasRole([ROLES.ESTUDIANTE, ROLES.ADMIN_SGA, ROLES.ADMIN_DOCENCIA]); else noPermission">
  <mat-card class="card">
    <div class="select-container">
      <mat-form-field appearance="fill" class="select-field">
        <mat-label>Periodo</mat-label>
        <mat-select>
          <mat-option *ngFor="let periodo of periodos" [value]="periodo">
            {{periodo}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="select-field">
        <mat-label>Facultad</mat-label>
        <mat-select>
          <mat-option *ngFor="let facultad of facultades" [value]="facultad">
            {{facultad}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="select-field">
        <mat-label>Proyecto</mat-label>
        <mat-select>
          <mat-option *ngFor="let proyecto of proyectos" [value]="proyecto">
            {{proyecto}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="select-field">
        <mat-label>Espacio Académico</mat-label>
        <mat-select>
          <mat-option *ngFor="let espacio of espaciosAcademicos" [value]="espacio">
            {{espacio}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card>

  <mat-card class="card">
    <h2>Cuantitativo</h2>

    <ngx-charts-bar-vertical-2d
  [view]="view"
  [scheme]="colorScheme"
  [results]="multi"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [legendTitle]="legendTitle"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)">
</ngx-charts-bar-vertical-2d>
  </mat-card>

  <mat-card class="card">
    <h2>Cualitativo</h2>
  </mat-card>
</div>-->

<!-- Modal para mostrar cuando el usuario no tiene permisos -->
<ng-template #noPermission>
  <div class="modal-overlay">
    <div class="modal-content">
      <h2>{{ "reportes_knowage.sin_permisos_titulo" | translate }}</h2>
      <p>{{ "reportes_knowage.sin_permisos_mensaje" | translate }}</p>
      <!-- Icono grande de carita triste -->
      <div class="sad-face-icon">
        <mat-icon class="sad-icon">sentiment_dissatisfied</mat-icon>
      </div>
    </div>
  </div>
</ng-template>