.form-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    background-color: #f9f9f9;
  }
  
  h2 {
    text-align: center;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-inline {
    display: flex;
    justify-content: space-between;
  }
  
  .form-inline input {
    width: 48%;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input, select, textarea, button {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
  }
  
  textarea {
    height: 100px;
  }
  
  .btn-proyecto {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .btn-proyecto:hover {
    background-color: #0056b3;
  }
  
  .btn-guardar {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
  }
  
  .btn-guardar:hover {
    background-color: #0056b3;
  }
  