.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font-weight: 600;
    font-size: 18px;
    color: #555;
}

.reporte-container {
    min-height: 600px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    box-sizing: border-box;
    background-color: #fafafa;
}