<mat-card [ngSwitch]="vista">
  <!-- Vista de tabla lista planes -->
  <ng-container *ngSwitchCase="VIEWS.LIST">
    <mat-card-header>
      <mat-card-title>
        <h2>{{ "ptd.verificacion_ptd" | translate }}</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h3 class="margin-y">{{ "ptd.list_planes" | translate }}</h3>
      <div class="form-grid2">
        <mat-form-field class="form-col1 form-field">
          <mat-label>{{ "GLOBAL.periodo" | translate }}:</mat-label>
          <mat-select
            [(ngModel)]="periodos.select"
            (selectionChange)="filtrarPlanes()"
          >
            <mat-option>--{{ "GLOBAL.seleccionar" | translate }}--</mat-option>
            <mat-option *ngFor="let item of periodos.opciones" [value]="item">
              {{ item.Nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>



        <mat-form-field class="form-col1 form-field">
          <mat-label>{{ "GLOBAL.proyecto_academico" | translate }}:</mat-label>
          <mat-select
            [(ngModel)]="proyectos.select"
            (selectionChange)="filtrarPlanes()"
          >
            <mat-option>--{{ "GLOBAL.seleccionar" | translate }}--</mat-option>
            <mat-option *ngFor="let item of proyectos?.opciones" [value]="item">
              {{ item.Nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>


        
      </div>
      <mat-toolbar>
        <button
          mat-flat-button
          color="warn"
          *ngIf="this.periodos.select && this.proyectos.select"
          (click)="filtrarPlanes()"
        >
          <mat-icon>refresh</mat-icon>
          {{ "GLOBAL.actualizar" | translate }}
        </button>
      </mat-toolbar>


    </mat-card-content>
  </ng-container>




</mat-card>
