<div class="form-container">
    <h2>Definir formularios</h2>
    <div class="form-group">
        <label for="process">Seleccionar proceso</label>
        <select id="process" class="form-control">
            <option value="" disabled selected>Seleccione</option>
        <!-- Opciones del proceso -->
        </select>
    </div>
    <div class="form-group">
        <label for="roles">Seleccionar roles que intervienen</label>
        <select id="roles" class="form-control">
            <option value="" disabled selected>Seleccione</option>
        <!-- Opciones de los roles -->
        </select>
    </div>
    <div class="form-viewer">
    Visualizador del formulario
    </div>
    <button class="btn btn-primary">Guardar</button>
</div>