.asignacion-fechas {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;

  h2 {
    text-align: center;
    color: var(--md-primary-contrast-400);
    background-color: var(--md-primary-400);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .nivel-formacion {
    margin-bottom: 20px;

    label {
      display: block;
      margin-bottom: 5px;
    }

    select {
      width: 100%;
      padding: 10px;
      border: 1px solid var(--md-primary-200);
      border-radius: 4px;
      background-color: var(--md-primary-50);
    }
  }

  .procesos-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .fila-procesos {
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }

    .proceso {
      background-color: #fff;
      border-radius: 10px;
      padding: 15px;
      text-align: center;
      flex: 1;
      box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);

      h3 {
        margin-top: 0;
        background-color: var(--md-primary-700);
        color: var(--md-primary-contrast-400);
        font-weight: 400;
        padding: 10px;
        border-radius: 4px;
      }

      .fechas {
        margin: 10px 0;

        mat-form-field {
          width: 100%;
        }

        mat-datepicker-toggle {
          margin-left: -32px; /* Ajuste para colocar el icono al lado derecho del botón */
          position: relative;
          right: -8px;
        }
      }

      .selected-dates {
        margin-top: 10px;

        p {
          margin: 0;
        }
      }
    }
  }

  .guardar-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    background-color: var(--md-primary-500);
    color: var(--md-primary-contrast-500);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;

    &:hover {
      background-color: var(--md-primary-700);
    }

    mat-icon {
      font-size: 24px;
    }
  }
}

.w-100 {
  width: 50%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F0F4F8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
  max-width: 800px;
}

.sad-face-icon {
  margin-top: 20px;
  color: var(--md-primary-700);
  overflow: visible;
}

.sad-icon {
  font-size: 5rem;
  display: inline-table;
  line-height: 1;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: var(--md-primary-700);
}