.form-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.border-right {
  border-right: 1px solid black;
}

p{
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  margin-top: 20px;
}
button {
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  margin-top: 20px;
  width: 180px;
}

.checklist-container {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: separate;

  th {
    text-align: center;
    color: white;
    background-color: var(--primary);
  }

  td {
    text-align: center !important;
    border-right: whitesmoke;
    border-left: whitesmoke;
  }
}

::ng-deep .subHeaders {
  background-color: var(--color4) !important;
}

::ng-deep .cuotas {
  background-color: var(--color600) !important;
}

::ng-deep .blanco {
  background-color: #ffffff !important;
}


::ng-deep .azulOscuro {
  background-color: var(--primary) !important;
  color: #ffffff !important;
}

::ng-deep .azulClaro {
  background-color: var(--color0) !important;
}

.button-stepper {
  display: flex;
  justify-content: space-between;
}

.mat-cell,
.mat-header-cell {
  width: auto;
}

.scrollable-table {
  overflow-x: auto;
}

.small-form-field {
  width: 100px;
  /* Ajusta este valor según tus necesidades */
}

.action-container {
  display: flex;
  height: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.spaced{
  margin-top: 20px;
}

.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

/* metricas.component.scss */

.mat-step {
  width: 100%; /* Ajusta el ancho según tus necesidades */
}

.form-container {
  display: grid;
  flex-direction: column;
  width: 100%;
}

.form-field {
  width: 100%;
  margin-bottom: 16px; /* Ajusta el margen según el diseño */
}
