<!-- Primera Tarjeta: Periodo y Tipo de Reporte -->
<mat-card>
  <mat-card-header>
    <mat-card-title>{{ 'GLOBAL.periodo_y_tipo_reporte' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p class="spaced">Seleccione el periodo y el tipo de reporte.</p>
    <form [formGroup]="firstFormGroup" class="form-container">
      <!-- Campo Periodo -->
      <mat-form-field class="form-field">
        <mat-label>{{ 'GLOBAL.periodo' | translate }}:</mat-label>
        <mat-select formControlName="periodo" required>
          <mat-option value="" disabled>{{ 'GLOBAL.seleccionar' | translate }}</mat-option>
          <mat-option *ngFor="let periodo of periodos" [value]="periodo">{{ periodo }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Campo Tipo de Reporte -->
      <mat-form-field class="form-field">
        <mat-label>{{ 'GLOBAL.tipo_reporte' | translate }}:</mat-label>
        <mat-select formControlName="tipoReporte" required (selectionChange)="onTipoReporteChange()">
          <mat-option value="" disabled>{{ 'GLOBAL.seleccionar' | translate }}</mat-option>
          <mat-option value="global">{{ 'GLOBAL.global' | translate }}</mat-option>
          <mat-option value="facultad">{{ 'GLOBAL.facultad' | translate }}</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-stroked-button class="azulOscuro" (click)="continueToSecondCard()">{{ 'GLOBAL.continuar' | translate }}</button>
    </form>
  </mat-card-content>
</mat-card>

<!-- Segunda Tarjeta: Global o Facultad -->
<mat-card *ngIf="showSecondCard">
  <mat-card-header>
    <mat-card-title>{{ 'GLOBAL.seleccionar_nivel' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p class="spaced">Seleccione el nivel para el cual desea generar el reporte.</p>
    <form [formGroup]="secondFormGroupNivel">
      <mat-form-field class="form-field">
        <mat-label>{{ 'GLOBAL.nivel' | translate }}:</mat-label>
        <mat-select formControlName="nivel" required>
          <mat-option value="" disabled>{{ 'GLOBAL.seleccionar' | translate }}</mat-option>
          <mat-option value="global">{{ 'GLOBAL.global' | translate }}</mat-option>
          <mat-option value="facultad">{{ 'GLOBAL.facultad' | translate }}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-stroked-button class="azulOscuro" (click)="generateChart()">{{ 'GLOBAL.generar' | translate }}</button>
    </form>
  </mat-card-content>
</mat-card>

<!-- Tercera Tarjeta: Gráfico -->
<mat-card *ngIf="showChartCard">
  <mat-card-header>
    <mat-card-title>{{ 'GLOBAL.resultados' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p class="spaced">A continuación se muestra el gráfico generado con los datos seleccionados.</p>
    <ngx-charts-advanced-pie-chart [view]="view" [scheme]="colorScheme" [results]="single"
      [gradient]="gradient" [legend]="showLegend" [labels]="showLabels" [doughnut]="isDoughnut"
      (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
    </ngx-charts-advanced-pie-chart>
  </mat-card-content>
</mat-card>
