<div [ngSwitch]="normalform.tipo_formulario">
    <!-- Formulario Mini -->
    <form [formGroup]="form" *ngSwitchCase="'mini'" class="form-horizontal">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{ normalform.titulo }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="form-grid">
                    <!-- Instrucciones y Escalas -->
                    <table class="instruction-table">
                        <tr>
                            <td style="background-color: #e0f7e0;">FORMATO</td>
                            <td>Código SIGUD por asignar</td>
                        </tr>
                        <tr>
                            <td style="background-color: #e0f7e0;">ACTOR</td>
                            <td>Estudiantes</td>
                        </tr>
                        <tr>
                            <td style="background-color: #e0f7e0;">CRONOGRAMA</td>
                            <td>Semana 4 a 7 del calendario académico</td>
                        </tr>
                        <tr>
                            <td style="background-color: #e0f7e0;">RÚBRICAS</td>
                            <td>Selección múltiple</td>
                        </tr>
                        <tr>
                            <td style="background-color: #e0f7e0;">INSTRUCCIÓN</td>
                            <td>
                                Estimado estudiante:<br>
                                Por favor evalúe formativamente a su docente utilizando el formato dispuesto para ello. 
                                Los ítems 01 a 20 de selección múltiple con única respuesta son obligatorios. 
                                Puede realizar anotaciones de felicitación o de sugerencias respetuosas en los espacios destinados para tal fin.
                                Utilice como referencia la siguiente escala para medir el grado de desempeño a evaluar:
                            </td>
                        </tr>
                        <tr>
                            <td style="background-color: #e0f7e0;">ESCALA</td>
                            <td>
                                INSUFICIENTE = No sucede y no se demuestra el criterio<br>
                                NECESITA MEJORAR = Sucede parcialmente pero no se demuestra el criterio<br>
                                BUENO = Sucede con frecuencia y se demuestra el criterio en un nivel básico<br>
                                SOBRESALIENTE = Sucede la mayor parte del tiempo y se demuestra el criterio de forma adecuada<br>
                                EXCELENTE = Sucede siempre y se demuestra el criterio completamente
                            </td>
                        </tr>
                    </table>

                    <!-- Tabla Ámbito 01 -->
                    <table class="evaluation-table">
                        <tr>
                            <th style="background-color: #cce7ff;">ÁMBITO 01: LA DOCENCIA</th>
                            <th style="background-color: #cce7ff;">Insuficiente</th>
                            <th style="background-color: #cce7ff;">Necesita Mejorar</th>
                            <th style="background-color: #cce7ff;">Bueno</th>
                            <th style="background-color: #cce7ff;">Sobresaliente</th>
                            <th style="background-color: #cce7ff;">Excelente</th>
                        </tr>
                        <tr *ngFor="let question of questions01; let i = index">
                            <td class="left-align">{{ question }}</td>
                            <td>
                                <input type="radio" [formControlName]="'question_' + i" value="Insuficiente">
                            </td>
                            <td>
                                <input type="radio" [formControlName]="'question_' + i" value="Necesita Mejorar">
                            </td>
                            <td>
                                <input type="radio" [formControlName]="'question_' + i" value="Bueno">
                            </td>
                            <td>
                                <input type="radio" [formControlName]="'question_' + i" value="Sobresaliente">
                            </td>
                            <td>
                                <input type="radio" [formControlName]="'question_' + i" value="Excelente">
                            </td>
                        </tr>
                    </table>

                    <!-- Tabla Ámbito 02 -->
                    <table class="evaluation-table">
                        <tr>
                            <th style="background-color: #cce7ff;">ÁMBITO 02: LA ENSEÑANZA</th>
                            <th style="background-color: #cce7ff;">Insuficiente</th>
                            <th style="background-color: #cce7ff;">Necesita Mejorar</th>
                            <th style="background-color: #cce7ff;">Bueno</th>
                            <th style="background-color: #cce7ff;">Sobresaliente</th>
                            <th style="background-color: #cce7ff;">Excelente</th>
                        </tr>
                        <tr *ngFor="let question of questions02; let i = index">
                            <td class="left-align">{{ question }}</td>
                            <td>
                                <input type="radio" [formControlName]="'question_' + (i + questions01.length)" value="Insuficiente">
                            </td>
                            <td>
                                <input type="radio" [formControlName]="'question_' + (i + questions01.length)" value="Necesita Mejorar">
                            </td>
                            <td>
                                <input type="radio" [formControlName]="'question_' + (i + questions01.length)" value="Bueno">
                            </td>
                            <td>
                                <input type="radio" [formControlName]="'question_' + (i + questions01.length)" value="Sobresaliente">
                            </td>
                            <td>
                                <input type="radio" [formControlName]="'question_' + (i + questions01.length)" value="Excelente">
                            </td>
                        </tr>
                    </table>

                    <!-- Tabla Ámbito 03 -->
                    <table class="evaluation-table">
                        <tr>
                            <th style="background-color: #cce7ff;">ÁMBITO 03: LA PRÁCTICA</th>
                            <th style="background-color: #cce7ff;">Insuficiente</th>
                            <th style="background-color: #cce7ff;">Necesita Mejorar</th>
                            <th style="background-color: #cce7ff;">Bueno</th>
                            <th style="background-color: #cce7ff;">Sobresaliente</th>
                            <th style="background-color: #cce7ff;">Excelente</th>
                        </tr>
                        <tr *ngFor="let question of questions03; let i = index">
                            <td class="left-align">{{ question }}</td>
                            <td>
                                <input type="radio" [formControlName]="'question_' + (i + questions01.length + questions02.length)" value="Insuficiente">
                            </td>
                            <td>
                                <input type="radio" [formControlName]="'question_' + (i + questions01.length + questions02.length)" value="Necesita Mejorar">
                            </td>
                            <td>
                                <input type="radio" [formControlName]="'question_' + (i + questions01.length + questions02.length)" value="Bueno">
                            </td>
                            <td>
                                <input type="radio" [formControlName]="'question_' + (i + questions01.length + questions02.length)" value="Sobresaliente">
                            </td>
                            <td>
                                <input type="radio" [formControlName]="'question_' + (i + questions01.length + questions02.length)" value="Excelente">
                            </td>
                        </tr>
                    </table>

                    <!-- Enunciado y Campos de Entrada -->
                    <p class="instruction">
                        Dados los ítems anteriores, quisiera felicitarle o sugerirle respetuosamente lo siguiente (usar solo el numeral sobre el que desee felicitar o sugerir):
                    </p>
                    <div *ngFor="let question of allQuestions; let i = index">
                        <mat-form-field style="width: 100%">
                            <textarea matInput placeholder="Comentario sobre el ítem {{ i + 1 }}" [formControlName]="'comment_' + i"></textarea>
                        </mat-form-field>
                    </div>
                </div>

                <ng-content></ng-content>

                <div class="mt-4" *ngIf="normalform.btnLimpiar || normalform.btn">
                    <button mat-flat-button color="warn" (click)="clearForm()" *ngIf="normalform.btnLimpiar">
                        {{ normalform.btnLimpiar }}
                    </button>
                    <button mat-flat-button color="accent" (click)="validForm()" *ngIf="normalform.btn">
                        {{ normalform.btn }}
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </form>
</div>
