<div>
    <!-- Botones para seleccionar el tipo de formulario -->
    <button mat-button (click)="loadFormulario('heteroevaluacion')">Heteroevaluación</button>
    <button mat-button (click)="loadFormulario('autoevaluacion-i')">Autoevaluación I</button>
    <button mat-button (click)="loadFormulario('autoevaluacion-ii')">Autoevaluación II</button>
    <button mat-button (click)="loadFormulario('coevaluacion-i')">Coevaluación I</button>
    <button mat-button (click)="loadFormulario('coevaluacion-ii')">Coevaluación II</button>
</div>

<!-- Vista por pasos usando mat-stepper para los Ámbitos -->
<mat-vertical-stepper *ngIf="!isFormView" [linear]="true" [formGroup]="stepperForm" #mainStepper>
    <!-- Ámbitos -->
    <mat-step *ngFor="let ambito of ambitos; let i = index" [formGroupName]="'ambito_' + i">
        <ng-template matStepLabel>{{ ambito.nombre }}</ng-template>

        <!-- Botón para colapsar/expandir todas las preguntas con ícono de ojo -->
        <button mat-raised-button color="primary" (click)="toggleAll(i)">
            <mat-icon>visibility</mat-icon> {{ expandAllState[i] ? 'Colapsar todo' : 'Expandir todo' }}
        </button>

        <!-- Preguntas dentro de los ámbitos usando mat-accordion -->
        <mat-accordion [multi]="true">
            <mat-expansion-panel *ngFor="let item of ambito.items; let j = index" [expanded]="expandAllState[i]"
                class="custom-expansion-panel">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon color="accent">help_outline</mat-icon> {{ item.text }}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <!-- Opción de única respuesta (radio buttons) -->
                <div *ngIf="item.campos && item.campos[0]?.tipo_campo === 1">
                    <mat-radio-group [formControlName]="'pregunta_' + generateControlName(item.text)">
                        <mat-radio-button *ngFor="let option of item.campos[0]?.escala" [value]="option.valor">
                            {{ option.nombre }}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>

                <!-- Opción de respuesta abierta (input/textarea) -->
                <div *ngIf="item.tipo === 'input' || item.tipo === 'textarea'">
                    <mat-form-field appearance="fill">
                        <mat-label>{{ item.text }}</mat-label>
                        <input matInput [formControlName]="'pregunta_' + generateControlName(item.text)">
                    </mat-form-field>
                </div>

                <!-- Carga de archivos -->
                <div *ngIf="item.tipo === 'file'">
                    <mat-form-field appearance="fill">
                        <mat-label>Cargar archivo</mat-label>
                        <input type="file" (change)="handleFileInputChange($event)">
                    </mat-form-field>
                </div>

                <!-- Botón para descargar archivos -->
                <div *ngIf="item.tipo === 'download'">
                    <button mat-raised-button color="primary" (click)="downloadDocument()">
                        <mat-icon>cloud_download</mat-icon> Descargar Evidencia
                    </button>
                </div>

            </mat-expansion-panel>
        </mat-accordion>

        <!-- Botones para avanzar y retroceder entre ámbitos -->
        <div>
            <button mat-button matStepperPrevious>Anterior</button>
            <button mat-button matStepperNext>Siguiente</button>
        </div>
    </mat-step>
</mat-vertical-stepper>

<!-- Botón final para enviar el formulario -->
<div>
    <button mat-button (click)="submit()">Guardar</button>
</div>
