.full-width {
    width: 100%;
}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.comentario-input {
    width: 100%;
    margin-bottom: 10px;
}

.enunciado {
    margin-top: 20px;
    font-style: italic;
  color: #2a5d83; /* Puedes cambiar este color para que coincida con tu diseño */
}

mat-radio-group {
    display: flex;
    flex-direction: column; /* Hace que los radio buttons se alineen verticalmente */
}

mat-radio-button {
    margin-bottom: 10px; /* Añade espacio entre los botones de opción */
}

.radio-vertical {
    display: block;
    margin-bottom: 8px;
}

.custom-expansion-panel::ng-deep .mat-expansion-panel-header {
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
}

.custom-expansion-panel::ng-deep .mat-expansion-panel-header.mat-expanded {
    border-bottom: 2px solid #2196F3; /* Azul estilo Material */
}

.mat-expansion-panel-header mat-icon {
    margin-right: 8px;
}

