.instruction-table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
    margin-bottom: 20px;

    td {
        border: 1px solid #ddd;
        padding: 8px;
    }
}

.evaluation-table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
    margin-bottom: 20px;

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
        text-align: center;
    }

    .left-align {
        text-align: left;
    }
}

.instruction {
    margin-top: 20px;
    font-weight: bold;
}

mat-form-field {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-horizontal {
    display: flex;
    flex-direction: column;
    .form-grid2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }
    .form-col1 {
        margin-bottom: 16px;
    }
}

.evaluation-table, .instruction-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #007bff;
}

.evaluation-table th, .evaluation-table td,
.instruction-table th, .instruction-table td {
    border: 1px solid #007bff;
    padding: 8px;
    text-align: left;
}

.evaluation-table th {
    background-color: #cce7ff;
}

.evaluation-table td {
    background-color: #f0f8ff;
}

.instruction-table th {
    background-color: #e0f7e0;
}

.instruction-table td {
    background-color: #f9fff9;
}

.form-group {
    margin-bottom: 16px;
}

.mat-card-title {
    font-size: 1.5rem;
    color: #007bff;
}

button {
    margin-top: 16px;
}

.evaluation-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 16px;
}

  .evaluation-table th,
  .evaluation-table td {
    border: 1px solid #007bff;
    padding: 8px;
    text-align: left;
  }
  
  .evaluation-table th {
    background-color: #cce7ff;
  }
  
  .evaluation-table td {
    background-color: #f0f8ff;
  }
  
  .instruction-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 16px;
  }
  
  .instruction-table th,
  .instruction-table td {
    border: 1px solid #007bff;
    padding: 8px;
    text-align: left;
  }
  
  .instruction-table th {
    background-color: #e0f7e0;
  }
  
  .instruction-table td {
    background-color: #f9fff9;
  }
  